.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.leaflet-container {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
}

.map {
    width: 100%;
    height: 100%;
    position: relative;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    border-radius: 5px;
}

.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
}

.leaflet-control-layers {
    text-align: left;
}